/* slide: border, width 800, height 300, 가운데 정렬, 안쪽 여백 10 */
.slide {
  border: 2px solid green;
  width: 800px;
  height: 300px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

.slide img {
  float: left;
}

.controls a {
  display: block;
  color: white;
  background-color: black;
  text-align: center;
  line-height: 50px;
  position: absolute;
  white-space: nowrap;
  top: calc(50% - 25px);
}

.prev {
  right: 100%;
}

.next {
  left: 100%;
}

.prev .clearfix::after {
  content: "";
  display: block;
  clear: both;
}
